body {
    margin: 0;
    padding: 0;
    background-color: #d0dbff;
}

.container {
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
}

.content {
    background-color: #fff;
    padding: 15px;
    border-radius: 12px;
    
}

.qr {
   border-image: url('images/image-qr-code.png');
   border-radius: 10px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    text-align: center;
    color: rgb(29, 29, 105);
    max-width: 250px;
}

p {
    max-width: 250px;
}

.content p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #808080;
    text-align: center;
    font-weight: 500;
}

footer {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}


footer a {
    color: #0000ff;
}